body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  text-shadow: 3px 2px 3px black;
  
}

/*************************************    Stylisation de la navbar    *********************************/
.navbar {
  font-family: 'Source Code Pro', monospace;
}

/*************************************    Stylisation de la page de compétences / expériences    *********************************/
#global {
  background: url(../Images/bg-image.png);
  background-size: cover;
  background-position: center;
  filter: contrast(75%);
  height: 100vh;
  overflow: auto;
}

/************   Stylisation de la page avec mon fond d'écran    ******************/
#backgrnd-competences {
  width: 95%;
  margin-top: 5%;
  margin-right: 2.5%;
  margin-left: 2.5%;
  display: grid;
  font-family: 'Source Code Pro', monospace;
  font-size: 1.2em;
  color: white;
}

/******   Ajustement et stylisation des blocs contenants les informations texte   ******************/
.bloc {
  width: 50%;
  margin-bottom: 5%;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding-bottom: 1%;
}


  .bloc p {
    padding-top: 4%;
    padding-left: 5%;
    padding-right: 2%;
  }

#scolaire-pro {
  display: inline-flex;
}

/*****************  Ajustement et animation de la partie Expériences scolaires   **********************/

#scolaire {
  transition: 1s;
}

  #scolaire:hover {
    width: 150%;
  }

/***************    Ajustement et animation de la partie Expériences professionnelles    ********************/

#pro {
  transition: 1s;
}

  #pro:hover {
    width: 150%;
  }

/***************    Ajustement et animation de la partie compétences    ***********************/
#bloc-skills {
  width: 100%;
  margin-bottom: 5%;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

  #bloc-skills article {
    padding-bottom: 3%;
  }

  #bloc-skills h3 {
    padding-top: 2%;
    text-align: center;
    padding-bottom: 2%;
    text-decoration: underline;
  }



/*******************************    Stylisation du tableau de compétences   ***********************/
table tr, table th, table td {
  border: 1px solid white;
  text-align: center;
}

/************************   Animation du tableau lorsqu'on passe la souris dessus   ****************************/

.lvl {
  display: none;
}

td:hover {
  color: black;
}

table:hover .lvl {
  display: table-cell;
}

table:hover {
  transition: 2s;
  width: 100%;
}

.vid:hover {
  background-color: lightgray;
  opacity: 2;
}

.pic:hover {
  background-color: bisque;
}

.info:hover {
  background-color: darksalmon;
}

.bureau:hover {
  background-color: lightcyan;
}

.langues:hover {
  background-color: lightyellow;
}
/************************   Ajustement de la partie Projets   ***********************/
#projets {
  display: flex;
}

#projet01, #projet02 {
  display: flex;
  width: 50%;
}

#projets article {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  width: 50%;
  padding-left: 3%;
  padding-right: 3%;
}

#projets h4 {
  text-decoration: underline;
}


/**************   Ajustement des icones   *******************/
.icon {
  text-align: center;
}

  .icon span {
    font-size: 400%;
  }

  .icon p {
    padding-left: 5%;
    padding-right: 2%;
  }

