body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: 'Source Code Pro', monospace;
  text-shadow: 0px 1px 0px black;
}
/***************************    Stylisation de la navbar    ***********************/
.navbar {
  font-family: 'Source Code Pro', monospace;
}

/****************		Stylisation de la page avec mon fond d'écran		*********************/
#global {
  background: url(../Images/bg-image.png);
  background-size: cover;
  background-position: center;
  filter: contrast(75%);
  height: 100vh;
  overflow: auto;
}

.formulaire {
  padding-top: 10%;
  padding-bottom: 10%;
  font-family: 'Source Code Pro', monospace;
}
/***********************************************************    Stylisation du bouton du menu     ************************************************/
.openButton {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 280px;
}

/***********************************************************    Stylisation de la div contenant le module     ************************************************/
.formPopup {
  width: 90%;
  margin: auto;
  margin-top: 5%;
  text-align: center;
  align-items: center;
  height: 80%;
  border: none;
  border-radius: 20px;
  box-shadow: 9px 9px 30px grey;
}

/***************************************************************    Stylisation du module     *******************************************************/
.formContainer {
  display: grid;
  width: 100%;
  padding: 10px;
  background-color: white;
  border-radius: 20px;
  height: auto;
}

#myForm {
  display: none;
}

/***********************************************************    Stylisation des champs input via les types avec des crochets    ************************************************/
.formContainer input[type="text"], .formContainer input[type="text"] {
  width: 50%;
  padding: 15px;
  margin: auto;
  border: none;
  background-color: #f1f1f1;
  border-radius: 20px;
  margin-bottom: 2%;
}

.formContainer textarea {
  border-radius: 20px;
  background-color: #f1f1f1;
  border: none;
  margin: auto;
  margin-bottom: 3%;
  width: 90%;
}


  /***********************************************************    Stylisation des champs input pour que quelque chose se passe quand on clique dedans    ************************************************/
  .formContainer input[type="text"]:focus, .formContainer textarea[type="text"]:focus {
    background-color: lightblue;
    outline: none;
    border: none;
  }

/***********************************************************    Stylisation du bouton d'envoi    ************************************************/
.formContainer .envoyerbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  border: none;
  width: 20%;
  cursor: pointer;
  opacity: 0.8;
  border-radius: 20px;
  margin: 15px auto 10px auto;
}


/***********************************************************    Stylisation du bouton annulation    ************************************************/
.formContainer .btnCancel {
  background-color: red;
  color: white;
  padding: 16px 20px;
  border: none;
  width: 20%;
  cursor: pointer;
  opacity: 0.8;
  border-radius: 20px;
  margin: auto;
  margin: 15px auto 10px auto;
}

/***********************************************************    Effet de survol :hover sur tout les bouttons    ************************************************/

.openButton:hover, .envoyerbtn:hover, .btnCancel:hover {
  opacity: 4;
}

/*************    Stylisation du select de l'âge  *******************/
select {
  border-radius: 10px;
}

/*********    Stylisation du lien mail ***********************/
#mail {
  text-decoration: none;
}

#mail-icon {
  text-decoration: none;
}

form span {
  vertical-align: middle;
}
